DATABASE_URL = 
BETTER_AUTH_SECRET = 
BETTER_AUTH_URL= 
GITHUB_CLIENT_ID  = 
GITHUB_CLIENT_SECRET = 
GOOGLE_CLIENT_ID = 
GOOGLE_CLIENT_SECRET = 
NEXT_PUBLIC_AUTH_URL = 
OPENAI_API_KEY= 
NEXT_PUBLIC_STREAM_VIDEO_API_KEY = 
STREAM_VIDEO_SECRET_KEY = 
NEXT_PUBLIC_STREAM_CHAT_API_KEY= 
STREAM_CHAT_SECRET_KEY= 
POLAR_ACCESS_TOKEN = 
OPENAI_API_KEY = 
MAX_DURATION_SECONDS = 
NEXT_PUBLIC_AUTH_URL = 
INNGEST_EVENT_KEY =
INNGEST_SIGNING_KEY =